trigger: 
- main

pool: Todo_Microservice_Agent

stages:
- stage:
  displayName: Build
  jobs:
  - job:
    displayName: Terraform_Install
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

- stage:
  displayName: Init
  jobs:
  - job:
    displayName: Terraform_Init
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/BrijendraYadav-dev/Terraform_Monolythic_Infra_Code'
        backendServiceArm: 'Himanshu_service'
        backendAzureRmOverrideSubscriptionID: '925c3861-e9e3-43c1-8a0c-d6faefd4a05a'
        backendAzureRmResourceGroupName: 'Brijendra-RG'
        backendAzureRmStorageAccountName: 'brijendrastorgae'
        backendAzureRmContainerName: 'brijendracontainer'
        backendAzureRmKey: 'terraformstatefile'

